---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title: string; // Hvis du vil bruke en tittel
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <Header />
    <main style="min-height: 80vh; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; background-color: #ffefef;">
        <slot />
    </main>
    <Footer style="margin-top: 50px;" />
</body>
</html>

<style is:global>
    body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background: #ffefef; /* Lys rosa bakgrunn */
        color: #333; /* Mørkere tekstfarge for kontrast */
    }
    main {
        padding: 20px; /* Legg til litt padding for å gi plass */
    }
</style>
